<div class="border border-dark rounded" style="height: 75vh">

  <div class="row h-100">
    <div class="col-3">
      <app-list-online-users></app-list-online-users>
    </div>

    <div class="col-9">

      <div class="d-flex justify-content-start h-100">

        <div class="align-self-start">



        </div>

        <div class="w-100 align-self-end ms-3 me-3 mb-1">

          <div class="row">

            <div class="col-10">
              <input placeholder="Type your message ..." [ngModelOptions]="{standalone: true}" [(ngModel)]="messageForm.message" type="text" class="form-control">
            </div>

            <div class="col-auto">
              <button class="btn btn-primary" [disabled]="!messageForm.message.length" (click)="sendMessage()">Send</button>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>



</div>
